################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PropertySearch.Api/.vs
/PropertySearch.Api/bin/Debug/net8.0
/PropertySearch.Api/obj
/PropertySearch.API.Tests/bin
/PropertySearch.API.Tests/obj
